.custom_input_div {
  margin-top: 20px;
  border-radius: 25px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom_input_div input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
    text-align: center;
    width: 95%;
  }